.vvpay-reddot,
.vvpay-reddot-border,
.vvpay-reddot-s {
	position: relative;
}

.vvpay-reddot:after,
.vvpay-reddot-border:after,
.vvpay-reddot-s:after {
	content         : '';
	position        : absolute;
	display         : block;
	width           : 16px;
	height          : 16px;
	background-color: #f74c31;
	border-radius   : 10px;
	right           : -6px;
	top             : -6px;
	background-clip : padding-box;
}

.vvpay-reddot-border:before {
	content         : '';
	position        : absolute;
	display         : block;
	width           : 16px;
	height          : 16px;
	background-color: #fff;
	border-radius   : 10px;
	right           : -8px;
	top             : -8px;
	background-clip : padding-box;
	padding         : 2px;
}

.vvpay-reddot-s:after {
	width : 12px;
	height: 12px;
	top   : -10px;
	right : -10px;
}