@import "../../base/fn";

.vbase-loadmore {
	width      : 65%;
	margin     : 45px auto;
	line-height: 48px;
	font-size  : 42px;
	text-align : center;
}

.vbase-loadmore__tips {
	display       : inline-block;
	vertical-align: middle;
}

.vbase-loadmore_line {
	border-top: 2px solid @vbaseLineColorLight;
	margin-top: 72px;

	.vbase-loadmore__tips {
		position: relative;
		top     : -27px;
		padding : 0 16.5px;
		color   : @vbaseTextColorGray;
	}
}

.vbase-loadmore_dot {
	.vbase-loadmore__tips {
		padding: 0 .16em;

		&:before {
			content         : " ";
			width           : 12px;
			height          : 12px;
			border-radius   : 50%;
			background-color: @vbaseLineColorLight;
			display         : inline-block;
			position        : relative;
			vertical-align  : 0;
			top             : -5px;
		}
	}
}