@vbaseCellBg: #FFFFFF;
@vbaseCellBorderColor : #D9D9D9;
@vbaseCellGapV        : 30px;
@vbaseCellGapH        : 45px;
@vbaseCellInnerGapH   : 9px;
@vbaseCellHeight      : 135px;
@vbaseCellFontSize    : @cell-font-size;
@vbaseCellTipsFontSize: @cell-tips-font-size;
@vbaseCellLabelWidth  : 315px;

@vbaseCellLineHeight: unit((@vbaseCellHeight - 2 * @vbaseCellGapV) / @vbaseCellFontSize); // 高度为44px，减去上下padding的行高
@vbaseCellsMarginTop: @vbaseCellFontSize;

// vbase switch
@vbaseSwitchHeight: @switch-height;

// vbase uploader
@vbaseUploaderBorderColor: #D9D9D9;
@vbaseUploaderActiveBorderColor: #999999;
@vbaseUploaderFileSpacing: 27px;
@vbaseUploaderSize: 238px;
@vbaseUploaderBorderWidth: 3px;