@import "../../base/fn";

.vbase-btn_primary {
	background-color: @vbaseBtnPrimaryBg;

	&:not(.vbase-btn_disabled):visited {
		color: @vbaseBtnFontColor;
	}

	&:not(.vbase-btn_disabled):active {
		color           : @vbaseBtnActiveFontColor;
		background-color: @vbaseBtnPrimaryActiveBg;
	}
}