@import "../../base/fn";

.vbase-btn_disabled {
	color: @vbaseBtnDisabledFontColor;

	&.vbase-btn_default {
		color           : @vbaseBtnDefaultDisabledFontColor;
		background-color: @vbaseBtnDefaultDisabledBg;
	}

	&.vbase-btn_primary {
		background-color: @vbaseBtnPrimaryDisabledBg;
	}

	&.vbase-btn_warn {
		background-color: @vbaseBtnwarnDisabledBg;
	}
}